/*CSS RESET*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    white-space: nowrap;
}
.header{
    display: block;
    width: 100%;
    height: 50px;
    background-color: red;
    white-space: normal;
}
.sidebar{
    display: inline-block;
    width: 10%;
    margin-right: -4px;
    background-color: blue;
    white-space: normal;
}
.main{
    display: inline-block;
    width: 90%;
    vertical-align: top;
    background-color: green;
    white-space: normal;
}
h3{
    display: inline-block;
}
