*
{

  margin: 0;
  padding: 0;

}
.row
{
  max-width: 1140px;
  margin: 0 auto;
}
body
{
  font-family: tahoma;

}

.hero{
  position: absolute;
  width: 1140px;
  margin-top: 40%;
  margin-left: 50%;
  transform: translate(-50%, -50%);

}

header{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("japan_main.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

h1
{
  color: white;
  font-size: 90%;
}

.hero h1{
  font-size: 50px;
}

.first{
  width: 1000px;
  border: 2px solid white;
  position: absolute;
  margin-top: 47%;
  margin-left: 50%;
  transform: translate(-57%, -50%);
  background-color: white;
  opacity: 0.5;
}

.first p{
  font-size: 14pt;

}

.main-nav{
  list-style: none;
  float: right;
  margin-top: 60px;
}

.main-nav li{
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a{
  color: white;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;

}

.main-nav li a:hover{
  color: #e67e22;
  border-bottom: 2px solid #e67322;
  transition: all 0.5s ease-in;
  padding: 15px 0px;
}
