<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'jpskip/stylesheets/style1.css' %}">
  </head>
  <body>
    <header>
      <div class="page">
        <div class="row">
          <ul class="main-nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/step1">STEP 1</a></li>
            <li><a href="/step2">STEP 2</a></li>
            <li><a href="/step3">STEP 3</a></li>
            <li><a href="/step4">STEP 4</a></li>
            <li><a href="/step5">STEP 5</a></li>
            <li><a href="/step6">STEP 6</a></li>
          </ul>
        </div>
        <div class="hero">
          <h1>Kanji Decoder</h1>
        </div>

        <!-- <div class="descriptions"> -->
          <div class="first">
            <p> This application is design to help people find kanji that they see all over in the real world. It can be a real hassle to do this using the conventional method of drawing it out and searching around for it. There is a shirtcut however. It is called a SKIP code. This code categorizes the kanji and makes searching for it easy and painless when compared to the regular methods of finding kanji. And we will teach you how to use it!
                Click this link to learn about the entirety of SKIP <a href="http://www.basic-japanese.com/Hilfsdateien/skipCode.html">Here</a>
                Below is some information about kanji and kana(which is the language system of Japan).
            </p>
          </div>
          <!-- <div class="kanji">
            <p>Kanji (漢字; Japanese pronunciation: [kandʑi] About this sound listen), or kan'ji, are the adopted logographic Chinese characters (hànzì) that are used in the modern Japanese writing system along with hiragana and katakana. The Japanese term kanji for the Chinese characters literally means "Han characters" and is written using the same characters as the Chinese word hànzì.
            </p>
          </div>
          <div class="hiragana">
            <p>Hiragana (平仮名, ひらがな?) is a Japanese syllabary, one component of the Japanese writing system, along with katakana, kanji, and in some cases rōmaji (Latin script). It is a phonetic lettering system. The word hiragana literally means "ordinary" or "simple" kana ("simple" originally as contrasted with kanji).
            </p>
          </div>
          <div class="katakana">
            <p>Katakana (片仮名, カタカナ?) is a Japanese syllabary,  one component of the Japanese writing system along with hiragana,  which is used to write non-Chinese loanwords, for onomatopeoic words, foreign names and for emphasis.
            </p>
          </div> -->
        <!-- </div> -->
      </div>
    </div>

    </header>

  </body>
</html>
