<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project 1</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        {% load staticfiles %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'jpskip/stylesheets/style.css' %}"> -->
        <script type="text/javascript" src="{% static 'jpskip/scripts/script.js' %}" defer></script>
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/step1">step1</a></li>
                <li><a href="/step2">step2</a></li>
                <li><a href="/step3">step3</a></li>
                <li><a href="/step4">step4</a></li>
                <li><a href="/step5">step5</a></li>
            </ul>
        </div>
        <div class="character">
            <h1>{{random.kanji}} {{random.p1}} {{random.p2}} {{random.p3}}</h1>
        </div>
        <div class="main">
            <form action="/process" method="post" id="step3">
                {% csrf_token %}
                <input type="hidden" id="p1" value="{{random.p1}}" >
                <input type="hidden" id="p2" value="{{random.p2}}" >
                <input type="hidden" id="p3" value="{{random.p3}}" >
                <input type="hidden" name="step" value="3" >
                <span>
                    <input type="text" id="userp1" style="width: 15px">
                    <input type="text" id="userp2" style="width: 15px">
                    <input type="text" id="userp3" style="width: 15px">
                </span>
                <input type="submit" value="Submit">
            </form>
            <span id="msg"></span>
        </div>
    </body>
</html>
