<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project 1</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'jpskip/stylesheets/style.css' %}">
        <script type="text/javascript" src="{% static 'jpskip/scripts/script.js' %}" defer></script>
    </head>
    <body>
        <div class="header">
            <a href="/">Home</a><a href="/step4">step4</a><a href="step5">step5</a>
        </div>
        <h1>{{random.kanji}} {{random.p1}}</h1>
        <div class="main">
            <form action="/process" method="post" id="step5">
                {% csrf_token %}
                <input type="hidden" id="p1" value="{{random.p1}}" >
                <input type="hidden" id="p2" value="{{random.p2}}" >
                <input type="hidden" id="p3" value="{{random.p3}}" >
                <input type="hidden" name="step" value="5" >
                <input type="text" id="userp1" style="width: 15px">
                <input type="text" id="userp2" style="width: 15px">
                <input type="text" id="userp3" style="width: 15px">
                <input type="submit" value="Submit">
            </form>
            <span></span>
        </div>
    </body>
</html>
